* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth
}

.container {
  overflow-x: hidden;
  width: 100vw;
}